@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Hanken Grotesk', sans-serif;
  line-height: 1;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}


@media (min-width: 640px) {
  #root {
    display: grid;
    place-items: center;
  }
}